<!DOCTYPE html>
<html>
<head>
  <title>Boards</title>
  <!-- Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="blue-grey lighten-5">
  <div class="container">
    <h2 class="center-align">Boards</h2>
    <ul class="collection">
      {% for board in boards %}
        <li class="collection-item avatar">
          <i class="material-icons circle">dashboard</i>
          <span class="title">
            <a href="{% url 'board_detail' name=board.name %}" class="blue-text text-darken-2">
              {{ board.name }}
            </a>
          </span>
          <p>{{ board.description }}</p>
          <p class="grey-text">Created: {{ board.created_at|date:"M d, Y" }}</p>
        </li>
      {% empty %}
        <li class="collection-item">No boards available.</li>
      {% endfor %}
    </ul>
    <a href="{% url 'post_list' %}" class="btn-flat blue-text">Back to Posts</a>
  </div>
  
  <!-- Materialize JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
